.search {
    display: flex;
}

.pictures {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.image {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    border-radius: 3rem;
}

.info div {
    margin-bottom: 5%;
}

.h2-info-container {
    display: flex;
    align-items: center;
    gap: 2%;
}

.people {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.genres {
    display: inline;
    margin-right: 2%;
}