{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaMov</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" >
</head>
<body class="bg-gray-100 p-4">
    <form action="{% url 'search' %}" method="post">
        <div class="max-w-md mx-auto bg-white p-4 rounded-md shadow-md search">
            {% csrf_token %}
            <input type="text" name="data" placeholder="Buscar..." class="w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500">
            <button type="submit" id="searchBtn" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2">Buscar</button>
        </div>
    </form>
    <div style="padding: 2%;">
        <div class="pictures">
            {% for key, value in search %}
            <div style="text-align: center;">
                <img id="{{ key }}" data-name="{{ value.name }}" data-description="{{ value.description }}" src="{{ value.poster }}" alt="{{ value.name }}" class="image relative tooltip-custom" data-toggle="tooltip">

                <div class="item">
                    <button class="px-4 py-2 rounded-md ml-2" style="background-color: rgb(11, 211, 11); border-bottom-left-radius: 2rem; border-top-left-radius: 2rem;" onclick=good("{{ key }}")><i class="bx bx-like"></i></button>
                    <button class="px-4 py-2 rounded-md ml-2" style="background-color: red; border-bottom-right-radius: 2rem; border-top-right-radius: 2rem;" onclick=bad("{{ key }}")><i class="bx bx-dislike"></i></button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pictures position-relative">
            {% for key, value in init %}
            <div style="text-align: center;">
                <img id="{{ key }}" data-name="{{ value.name }}" data-description="{{ value.description }}" src="{{ value.poster }}" alt="{{ value.name }}" class="image relative tooltip-custom" data-toggle="tooltip">

                <div class="item">
                    <button class="px-4 py-2 rounded-md ml-2" style="background-color: rgb(11, 211, 11); border-bottom-left-radius: 2rem; border-top-left-radius: 2rem;" onclick=good("{{ key }}")><i class="bx bx-like"></i></button>
                    <button class="px-4 py-2 rounded-md ml-2" style="background-color: red; border-bottom-right-radius: 2rem; border-top-right-radius: 2rem;" onclick=bad("{{ key }}")><i class="bx bx-dislike"></i></button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pictures">
            {% for key, value in recommended %}
            <div style="text-align: center;">
                <img id="{{ key }}" data-name="{{ value.name }}" data-description="{{ value.description }}" src="{{ value.poster }}" alt="{{ value.name }}" class="image relative tooltip-custom" data-toggle="tooltip">

                <div class="item">
                    <button class="px-4 py-2 rounded-md ml-2" style="background-color: rgb(11, 211, 11); border-bottom-left-radius: 2rem; border-top-left-radius: 2rem;" onclick=good("{{ key }}")><i class="bx bx-like"></i></button>
                    <button class="px-4 py-2 rounded-md ml-2" style="background-color: red; border-bottom-right-radius: 2rem; border-top-right-radius: 2rem;" onclick=bad("{{ key }}")><i class="bx bx-dislike"></i></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <form action="{% url 'recomm' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="resultArray" value="" name="data">
            <button style="margin-left: 47%;" id="submitBtn" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2">Enviar</button>
    </form>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
</body>
</html>