{% extends './layouts/base.html' %}
{% load static %}

{% block header %}
    <a href="{% url 'start' %}">Home</a>
{% endblock header %}

{% block content %}
    <main class="container mx-auto p-8">

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <img src="{{ data.poster }}" alt="{{ data.name }}" class="w-full h-auto rounded-lg"> 
            </div>
            <div class="info">

                <h1 class="font-bold mb-4" style="font-size: 3vw;">{{ data.name }}</h1>

                <div>
                    {% for g in data.genre %}
                        <p class="text-xl font-bold mb-4 genres">{{ g }}</p>
                    {% endfor %}
                </div>

                {% if data.description %}
                    <div>
                        <h2 class="text-xl font-bold mb-4">Description</h2>
                        <p>
                            {{ data.description }}
                        </p>
                    </div>
                {% endif %}

                <div class="h2-info-container">
                    <h2 class="text-xl font-bold">Date</h2>
                    <p class="text-xl">
                        {{ data.datePublished }}
                    </p>
                </div>

                <div class="h2-info-container">
                    <h2 class="text-xl font-bold">Duration</h2>
                    <p class="text-xl">
                        {{ data.duration }}
                    </p>
                </div>

                <div>
                    <h2 class="text-xl font-bold mb-4">Tematics</h2>
                    <p>
                        {{ data.keywords }}
                    </p>
                </div>

                <div class="people">
                    <div>
                        <h3 class="text-lg font-bold mt-4 mb-2">Actors</h3>
                        <ul>
                            {% for act in data.actor %}
                                <li>{{ act.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <div>
                        <h3 class="text-lg font-bold mt-4 mb-2">Directors</h3>
                        <ul>
                            {% for act in data.director %}
                                <li>{{ act.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div>
                        <h3 class="text-lg font-bold mt-4 mb-2">Creators</h3>
                        <ul>
                            {% for act in data.creator %}
                                <li>{{ act.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {% if data.review.reviewBody %}
                    <div>
                        <h2 class="text-xl font-bold mb-4">Comment</h2>
                        <p>
                            {{ data.review.reviewBody }}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>

        </main>
{% endblock content %}

{% block scripts%}
    <script src="{% static 'js/time_page.js' %}"></script>
{% endblock scripts%}