{% extends './layouts/base.html' %}
{% load static %}

{% block header %}
    <a href="{% url 'start' %}">Home</a>
{% endblock header %}

{% block content %}
    <div class="pictures">
        {% for key, value in search %}
        <div style="text-align: center;">
            <img id="{{ key }}" data-name="{{ value.name }}" data-description="{{ value.description }}" src="{{ value.poster }}" alt="{{ value.name }}" class="image relative tooltip-custom" data-toggle="tooltip">

            <div class="item">
                <button class="px-4 py-2 rounded-md ml-2 bg-green-500 hover:bg-green-700" style="border-bottom-left-radius: 2rem; border-top-left-radius: 2rem;" onclick=good("{{ key }}")><i class="bx bx-like"></i></button>
                <button class="px-4 py-2 rounded-md ml-2 bg-blue-500 hover:bg-blue-700" onclick=actComment("{{ key }}")><i class='bx bx-comment'></i></button>
                <button class="px-4 py-2 rounded-md ml-2 bg-red-500 hover:bg-red-700" style="border-bottom-right-radius: 2rem; border-top-right-radius: 2rem;" onclick=bad("{{ key }}")><i class="bx bx-dislike"></i></button>
            </div>

            <div id="commentForm{{ key }}" class="hidden mt-4">
                <textarea id="commentInput{{ key }}" class="w-full px-3 py-2 border rounded" placeholder="Escribe tu comentario aquí"></textarea>
                <button type="button" onclick=comment("{{ key }}") class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">Enviar comentario</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <form action="{% url 'recomm' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="resultArray" value="" name="data">
        <input type="hidden" id="comments" value="" name="comments">
        <button style="margin-left: 46.5%; margin-top: 5%;" id="submitBtn" type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Enviar</button>
    </form>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/recomm.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script>
    var j = jQuery.noConflict();
    j(function() {
        j('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock scripts %}